<div class="p-4">
  <div class="max-w-screen-xl mx-auto">
    <div class="max-w-3xl mx-auto text-center">
      <h2 class="md:text-4xl text-3xl text-slate-900 font-bold mb-6 md:!leading-[45px] leading-[40px]">
        ¡Bienvenido a <span class="text-orange-600 whitespace-nowrap">FATCRSM!</span>
      </h2>
      <p class="text-slate-600 text-base leading-relaxed">Aquí, recopilamos para usted los pasos e instrucciones básicos
        que lo ayudarán a comenzar su viaje con FATCRSM de manera más rápida y eficiente.</p>
    </div>

    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-8 max-md:max-w-lg mx-auto mt-16">
      <div class="bg-gray-50 text-left border border-gray-300 rounded-3xl p-6">
        <img src="assets/de-coser.png" alt="logo" class="w-20 h-16" />

        <h3 class="text-slate-900 text-lg font-semibold mb-3">Costura</h3>
        <p class="text-[15px] leading-relaxed text-slate-600">registra tus pedidos recientes, puedes agregar un registro de tus pedidos con la cantidad de poleras, precios, y el control de finalizado</p>
        <a routerLink="/private/costura"
          class="text-[15px] inline-flex items-center font-medium hover:text-orange-500 mt-12">
          Realizar registro<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-1.5 fill-current" viewBox="0 0 24 24">
            <path
              d="m23.564 11.235-7.56-7.56a1.08 1.08 0 0 0-1.528 1.528l5.717 5.716H1.2a1.08 1.08 0 0 0 0 2.16h18.993l-5.717 5.716a1.08 1.08 0 1 0 1.528 1.528l7.56-7.56a1.08 1.08 0 0 0 0-1.528z"
              data-original="#000000"></path>
          </svg>
        </a>
      </div>
      <div class="bg-gray-50 text-left border border-gray-300 rounded-3xl p-6">
        <img src="assets/impresora.png" alt="logo" class="w-20 h-16" />

        <h3 class="text-slate-900 text-lg font-semibold mb-3">Sublimacion</h3>
          <p class="text-[15px] leading-relaxed text-slate-600">gestiona los diseños listos para imprimir, puedes registrar el tipo de papel y tinta utilizados, los parámetros de la plancha (tiempo y temperatura) y la gestión de la calidad de color.</p>
        <a routerLink="/private/especialidades/sublimacion"
          class="text-[15px] inline-flex items-center font-medium hover:text-orange-500 mt-12">
          Realizar registro<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-1.5 fill-current" viewBox="0 0 24 24">
            <path
              d="m23.564 11.235-7.56-7.56a1.08 1.08 0 0 0-1.528 1.528l5.717 5.716H1.2a1.08 1.08 0 0 0 0 2.16h18.993l-5.717 5.716a1.08 1.08 0 1 0 1.528 1.528l7.56-7.56a1.08 1.08 0 0 0 0-1.528z"
              data-original="#000000"></path>
          </svg>
        </a>
      </div>
      <div class="bg-gray-50 text-left border border-gray-300 rounded-3xl p-6">
       <img src="assets/impresion-textil.png" alt="logo" class="w-18 h-16" />


        <h3 class="text-slate-900 text-lg font-semibold mb-3">Vinilado</h3>
        <p class="text-[15px] leading-relaxed text-slate-600">administra la preparación de diseños para vinilo de corte, puedes controlar el material y color del vinilo, las dimensiones del diseño y el seguimiento del proceso de planchado y pelado.</p>
        <a routerLink="/private/especialidades/Vinilado"
          class="text-[15px] inline-flex items-center font-medium hover:text-orange-500 mt-12">
          Realizar registro<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-1.5 fill-current" viewBox="0 0 24 24">
            <path
              d="m23.564 11.235-7.56-7.56a1.08 1.08 0 0 0-1.528 1.528l5.717 5.716H1.2a1.08 1.08 0 0 0 0 2.16h18.993l-5.717 5.716a1.08 1.08 0 1 0 1.528 1.528l7.56-7.56a1.08 1.08 0 0 0 0-1.528z"
              data-original="#000000"></path>
          </svg>
        </a>
      </div>
      <div class="bg-gray-50 text-left border border-gray-300 rounded-3xl p-6">
       <img src="assets/bordado.png" alt="logo" class="w-19 h-16" />


        <h3 class="text-slate-900 text-lg font-semibold mb-3">Bordado</h3>
        <p class="text-[15px] leading-relaxed text-slate-600">controla los patrones y la producción por máquina, puedes registrar el número de puntadas, los tipos de hilo y el consumo, así como el tiempo de uso de la máquina para cada pieza.</p>
        <a routerLink="/private/especialidades/Bordado"
          class="text-[15px] inline-flex items-center font-medium hover:text-orange-500 mt-12">
          Realizar registro<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-1.5 fill-current" viewBox="0 0 24 24">
            <path
              d="m23.564 11.235-7.56-7.56a1.08 1.08 0 0 0-1.528 1.528l5.717 5.716H1.2a1.08 1.08 0 0 0 0 2.16h18.993l-5.717 5.716a1.08 1.08 0 1 0 1.528 1.528l7.56-7.56a1.08 1.08 0 0 0 0-1.528z"
              data-original="#000000"></path>
          </svg>
        </a>
      </div>
      <div class="bg-gray-50 text-left border border-gray-300 rounded-3xl p-6">
        <img src="assets/textil.png" alt="logo" class="w-16 h-16" />


        <h3 class="text-slate-900 text-lg font-semibold mb-3">Otros</h3>
        <p class="text-[15px] leading-relaxed text-slate-600">utiliza este módulo para registrar datos complementarios, puedes agregar información sobre tus proveedores, registrar gastos operativos o anotar cualquier detalle importante que no pertenezca a un pedido específico.</p>
        <a routerLink="/private/especialidades/Otros"
          class="text-[15px] inline-flex items-center font-medium hover:text-orange-500 mt-12">
          Realizar registro<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-1.5 fill-current" viewBox="0 0 24 24">
            <path
              d="m23.564 11.235-7.56-7.56a1.08 1.08 0 0 0-1.528 1.528l5.717 5.716H1.2a1.08 1.08 0 0 0 0 2.16h18.993l-5.717 5.716a1.08 1.08 0 1 0 1.528 1.528l7.56-7.56a1.08 1.08 0 0 0 0-1.528z"
              data-original="#000000"></path>
          </svg>
        </a>
      </div>
      <div class="bg-gray-50 text-left border border-gray-300 rounded-3xl p-6">
       <img src="assets/segunda-mano.png" alt="logo" class="w-17 h-16" />


        <h3 class="text-slate-900 text-lg font-semibold mb-3">Inventario</h3>
        <p class="text-[15px] leading-relaxed text-slate-600">te permite mantener un registro de tu stock, puedes agregar la cantidad disponible de poleras por talla y color, así como el material de insumo (vinilos, tintas, hilos) y establecer alertas de bajo inventario.</p>
        <a routerLink="/private/inventario"
          class="text-[15px] inline-flex items-center font-medium hover:text-orange-500 mt-12">
          Realizar registro<svg xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 ml-1.5 fill-current" viewBox="0 0 24 24">
            <path
              d="m23.564 11.235-7.56-7.56a1.08 1.08 0 0 0-1.528 1.528l5.717 5.716H1.2a1.08 1.08 0 0 0 0 2.16h18.993l-5.717 5.716a1.08 1.08 0 1 0 1.528 1.528l7.56-7.56a1.08 1.08 0 0 0 0-1.528z"
              data-original="#000000"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</div>