<div class="mb-6 grid gap-y-10 gap-x-6 grid-cols-2 md:grid-cols-2 xl:grid-cols-4">
  <div class="flex flex-col col-span-2 md:col-span-2 xl:col-span-4">
    <h2 class="text-xl font-semibold">Servicios</h2>
  </div>
  <a routerLink="sublimacion"
    class="relative flex flex-col bg-clip-border rounded-xl bg-gradient-to-br from-gray-700 to-gray-950 text-gray-700 shadow-md">
    <h2 class="p-4 text-white text-center">Sublimacion</h2>
  </a>
  <a routerLink="Vinilado"
    class="relative flex flex-col bg-clip-border rounded-xl bg-gradient-to-br from-gray-700 to-gray-950 text-gray-700 shadow-md">
    <h2 class="p-4 text-white text-center">Vinilado</h2>
  </a>
  <a routerLink="Bordado"
    class="relative flex flex-col bg-clip-border rounded-xl bg-gradient-to-br from-gray-700 to-gray-950 text-gray-700 shadow-md">
    <h2 class="p-4 text-white text-center">Bordado</h2>
  </a>
  <a routerLink="Otros"
    class="relative flex flex-col bg-clip-border rounded-xl bg-gradient-to-br from-gray-700 to-gray-950 text-gray-700 shadow-md">
    <h2 class="p-4 text-white text-center">Otros</h2>
  </a>
</div>
<router-outlet></router-outlet>