
<div class="max-w-7xl mx-auto p-6">
  <div class="bg-white shadow-md rounded-lg p-4 mb-6">
    <ul class="flex flex-wrap gap-4 border-b pb-2 mb-4">
      <li routerLink="sublimacion" (click)="setActive('Sublimacion')" [ngClass]="activeItem === 'Sublimacion'
        ? 'pb-2 border-b-2 border-orange-500 text-orange-600'
        : 'pb-2 text-gray-600 hover:text-orange-600 hover:border-b-2 hover:border-orange-500 cursor-pointer'">
        Sublimacion
      </li>

      <li routerLink="Vinilado" (click)="setActive('Vinilado')" [ngClass]="activeItem === 'Vinilado'
        ? 'pb-2 border-b-2 border-orange-500 text-orange-600'
        : 'pb-2 text-gray-600 hover:text-orange-600 hover:border-b-2 hover:border-orange-500 cursor-pointer'">
        Vinilado
      </li>

      <li routerLink="Bordado" (click)="setActive('Bordado')" [ngClass]="activeItem === 'Bordado'
        ? 'pb-2 border-b-2 border-orange-500 text-orange-600'
        : 'pb-2 text-gray-600 hover:text-orange-600 hover:border-b-2 hover:border-orange-500 cursor-pointer'">
        Bordado
      </li>

      <li routerLink="Otros" (click)="setActive('Otros')" [ngClass]="activeItem === 'Otros'
        ? 'pb-2 border-b-2 border-orange-500 text-orange-600'
        : 'pb-2 text-gray-600 hover:text-orange-600 hover:border-b-2 hover:border-orange-500 cursor-pointer'">
        Otros
      </li>
    </ul>
    
    <!-- Info Message -->
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>