
<div class="max-w-7xl mx-auto p-6">
  <div class="bg-white shadow-md rounded-lg p-4 mb-6">
    <ul class="flex flex-wrap gap-4 border-b pb-2 mb-4">
      <li routerLink="pedidos" (click)="setActive('Historial de pedidos')" [ngClass]="activeItem === 'Historial de pedidos'
        ? 'pb-2 border-b-2 border-orange-500 text-orange-600'
        : 'pb-2 text-gray-600 hover:text-orange-600 hover:border-b-2 hover:border-orange-500 cursor-pointer'">
        Historial de pedidos
      </li>

      <li routerLink="material" (click)="setActive('Inventario material')" [ngClass]="activeItem === 'Inventario material'
        ? 'pb-2 border-b-2 border-orange-500 text-orange-600'
        : 'pb-2 text-gray-600 hover:text-orange-600 hover:border-b-2 hover:border-orange-500 cursor-pointer'">
        Inventario material
      </li>

      <li routerLink="tallas" (click)="setActive('Definir medidas')" [ngClass]="activeItem === 'Definir medidas'
        ? 'pb-2 border-b-2 border-orange-500 text-orange-600'
        : 'pb-2 text-gray-600 hover:text-orange-600 hover:border-b-2 hover:border-orange-500 cursor-pointer'">
        Definir medidas
      </li>

      <li routerLink="estimado" (click)="setActive('Generar estimado')" [ngClass]="activeItem === 'Generar estimado'
        ? 'pb-2 border-b-2 border-orange-500 text-orange-600'
        : 'pb-2 text-gray-600 hover:text-orange-600 hover:border-b-2 hover:border-orange-500 cursor-pointer'">
        Generar estimado
      </li>
    </ul>
    
    <!-- Info Message -->
    <div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>