/* Ocultar todo lo demás al imprimir */
@media print {
  body * {
    visibility: hidden; /* Oculta todo */
  }

  #cotizacionPreview, #cotizacionPreview * {
    visibility: visible; /* Solo muestra la cotización */
  }

  #cotizacionPreview {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}
