<div class="mt-12 w-full ">
  <div class="mb-4 grid grid-cols-1 gap-6 xl:grid-cols-3">
    <div
      class="relative flex flex-col bg-clip-border rounded-xl bg-gradient-to-br from-gray-800 to-gray-950 text-gray-700 shadow-md overflow-hidden xl:col-span-4">
      <div
        class="relative bg-clip-border rounded-xl overflow-hidden bg-transparent text-gray-700 shadow-none  flex items-center justify-between p-6">
        <div>
          <h6
            class="block antialiased tracking-normal font-sans text-base font-semibold leading-relaxed text-white mb-1">
            Lista de servicios ("Sublimacion")</h6>
        </div>
        <button aria-expanded="false" aria-haspopup="menu" id=":r5:"
          class="relative middle none font-sans font-medium text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none w-8 max-w-[32px] h-8 max-h-[32px] rounded-lg text-xs text-white0 hover:bg-white0/10 active:bg-white0/30"
          type="button">
          <span class="absolute top-1/2 left-1/2 transform -translate-y-1/2 -translate-x-1/1 bg-gray-700 py-1 px-6 rounded-lg">
            <a [routerLink]="['../register']" [queryParams]="{ servicio: 'sublimacion', id: 0 }"
              class="text-white font-bold text-sm  ">
              Añadir servicio
            </a>
          </span>
        </button>
      </div>
      <div class="p-6 overflow-x-scroll px-0 pt-0 pb-2">
        <table class="w-full min-w-[640px] table-auto">
          <thead>
            <tr>
              <th class="border-b border-white py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-white">
                  Nombre</p>
              </th>
              <th class="border-b border-white py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-white">Descripcion
                </p>
              </th>
              <th class="border-b border-white py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-white">Costo
                </p>
              </th>
              <th class="border-b border-white py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-white">Finalizado
                </p>
              </th>
              <th class="border-b border-white py-3 px-6 text-left">
                <p class="block antialiased font-sans text-[11px] font-medium uppercase text-white">Edicion
                </p>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="listaPedidos && listaPedidos.length < 1">
              <td class="py-3 px-5 border-b border-white text-white">
                <h3>No hay clientes registrados</h3>
              </td>
            </tr>
            <tr *ngFor="let servicio of listaPedidos">
              <!-- Nombre del cliente -->
              <td class="py-3 px-5 border-b border-white">
                <div class="flex items-center gap-4">
                  <p class="block antialiased font-sans text-sm leading-normal text-white font-bold">
                    {{ servicio.nombre_cliente }}
                  </p>
                </div>
              </td>

              <!-- Empresa -->
              <td class="py-3 px-5 border-b border-white">
                <p class="block antialiased font-sans text-xs font-medium text-white">
                  {{ servicio.descripcion }}
                </p>
              </td>
              <td class="py-3 px-5 border-b border-white">
                <p class="block antialiased font-sans text-xs font-medium text-white">
                  {{ servicio.costo }}
                </p>
              </td>
              <td class="py-3 px-5 border-b border-white">
                <p class="block antialiased font-sans text-xs font-medium text-white">
                  {{ servicio.finalizado }}
                </p>
              </td>
              

              <!-- Estado -->

              <!-- Acciones -->
              <td class="py-3 border-b border-white">
                <a class="antialiased font-sans text-xs font-medium text-white mx-2"
                  [routerLink]="['../edit']" [queryParams]="{ servicio: 'sublimacion', id: servicio.id_servicio }">
                  Ver
              </a>
                <button class="antialiased font-sans text-xs font-medium text-white mx-2"
                  (click)="servicio.id_servicio !== undefined && eliminarPedido(servicio.id_servicio)">
                  Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>



      </div>
    </div>
  </div>
</div>