<div class="mb-12 grid gap-y-10 gap-x-6 md:grid-cols-2 xl:grid-cols-4">
    <div class="flex flex-col col-span-4 ">
        <h2 class="text-xl font-semibold">Tallas registradas</h2>
    </div>
    <a
        class="relative flex flex-col bg-clip-border rounded-xl bg-gradient-to-br from-gray-700 to-gray-950  text-gray-700 shadow-md">
        <div class="p-4 text-right">
            <p class="block antialiased font-sans text-sm leading-normal font-normal text-white">Medidas de corte</p>
            <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-white">
                HOMBRE</h4>
        </div>
        <div class="border-t border-white p-4">
            <div class="block antialiased font-sans text-base leading-relaxed font-normal text-white">
                <div class="flex justify-between">
                    <strong class="text-white">Talla XL</strong>

                </div>
            </div>
        </div>
    </a>
    <a
        class="relative flex flex-col bg-clip-border rounded-xl bg-gradient-to-br from-gray-700 to-gray-950  text-gray-700 shadow-md">
        <div class="p-4 text-right">
            <p class="block antialiased font-sans text-sm leading-normal font-normal text-white">Medidas de corte</p>
            <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-white">
                HOMBRE</h4>
        </div>
        <div class="border-t border-white p-4">
            <div class="block antialiased font-sans text-base leading-relaxed font-normal text-white">
                <div class="flex justify-between">
                    <strong class="text-white">Talla L</strong>

                </div>
            </div>
        </div>
    </a>
    <a
        class="relative flex flex-col bg-clip-border rounded-xl bg-gradient-to-br from-gray-700 to-gray-950  text-gray-700 shadow-md">
        <div class="p-4 text-right">
            <p class="block antialiased font-sans text-sm leading-normal font-normal text-white">Medidas de corte</p>
            <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-white">
                HOMBRE</h4>
        </div>
        <div class="border-t border-white p-4">
            <div class="block antialiased font-sans text-base leading-relaxed font-normal text-white">
                <div class="flex justify-between">
                    <strong class="text-white">Talla M</strong>

                </div>
            </div>
        </div>
    </a>
    <a
        class="relative flex flex-col bg-clip-border rounded-xl bg-gradient-to-br from-gray-700 to-gray-950  text-gray-700 shadow-md">
        <div class="p-4 text-right">
            <p class="block antialiased font-sans text-sm leading-normal font-normal text-white">Medidas de corte</p>
            <h4 class="block antialiased tracking-normal font-sans text-2xl font-semibold leading-snug text-white">
                HOMBRE</h4>
        </div>
        <div class="border-t border-white p-4">
            <div class="block antialiased font-sans text-base leading-relaxed font-normal text-white">
                <div class="flex justify-between">
                    <strong class="text-white">Talla S</strong>

                </div>
            </div>
        </div>
    </a>
</div>
