<body class="flex items-center justify-center">
    <!-- Component Start -->
    <div class="grid lg:grid-cols-3 md:grid-cols-2 gap-8 w-full max-w-screen-lg">
        <div class="lg:col-span-2">
            <div class="rounded mt-4 shadow-lg">
                <div class="flex items-center px-8 py-5">
                    
                    <label class="text-sm font-medium ml-4">Generar costos</label>
                </div>
                <div class="border-t">
                    <div class="flex items-center px-8 py-5">
                        <input
                            class="appearance-none w-4 h-4 rounded-full border-2 border-white ring-2 ring-gray-800 ring-opacity-100 bg-gray-800"
                            type="radio">
                        <label class="text-sm font-medium ml-4">Medicion de tela</label>
                    </div>
                    <div class="grid grid-cols-2 gap-4 px-8 pb-8">
                        <div class="col-span-2">
                            <button class="flex items-center justify-center bg-gradient-to-br from-gray-800 to-gray-950  text-sm font-medium w-full h-10 rounded-xl text-gray-50 hover:bg-gray-700">Agregar polera</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <div class="rounded mt-4 shadow-lg py-6">   
                <div class="px-8 ">
                    <div class="flex items-end justify-between">
                        <span class="font-semibold">Medicion de tela</span>
                        <span class="font-semibold">3,54 metros</span>
                    </div>
                </div>
                
                <div class="flex flex-col px-8 pt-4">
                    <button
                        class="flex items-center justify-center bg-gradient-to-br from-gray-800 to-gray-950  text-sm font-medium w-full h-10 rounded-xl text-gray-50 hover:bg-gray-700">Registrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Component End  -->
</body>