<footer class="py-2">
  <div class="flex w-full flex-wrap items-center justify-center gap-6 px-2 md:justify-between">
    <p class="block antialiased font-sans text-sm leading-normal font-normal text-inherit">© 2025</p>
    <ul class="flex items-center gap-4">
      <li>
        <a target="_blank"
          class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-gray-700">
          Contacto</a>
      </li>
      <li>
        <a target="_blank"
          class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-gray-700">Perfil</a>
      </li>
      <li>
        <a target="_blank"
          class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-gray-700">Mas sobre nosotros</a>
      </li>
      <li>
        <a target="_blank"
          class="block antialiased font-sans text-sm leading-normal py-0.5 px-1 font-normal text-inherit transition-colors hover:text-gray-700">Licencia</a>
      </li>
    </ul>
  </div>
</footer>