<div>
    <h2 class="text-2xl font-bold text-center mb-4 text-gray-900">Inventario</h2>
</div>


<div class="w-full">
    <div class="relative right-0">
        <div class="w-full">
            <div class="relative right-0">
                <ul class="relative flex flex-wrap px-1.5 py-1.5 list-none rounded-md bg-gradient-to-br from-gray-700 to-gray-950"
                    data-tabs="tabs" role="list">
                    <li class="z-30 flex-auto text-center">
                        <a class="z-30 flex items-center justify-center w-full px-0 py-2 text-2sm mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-white  font-semibold bg-inherit"
                            data-tab-target="" role="tab" aria-selected="true" aria-controls="app" href="/public">
                            <span class="ml-1">App</span>
                        </a>
                    </li>
                    <li class="z-30 flex-auto text-center">
                        <a class="z-30 flex items-center justify-center w-full px-0 py-2 text-2sm mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-white font-semibold bg-inherit"
                            data-tab-target="" role="tab" aria-selected="false" aria-controls="message">
                            <span class="ml-1">Messages</span>
                        </a>
                    </li>
                    <li class="z-30 flex-auto text-center">
                        <a class="z-30 flex items-center justify-center w-full px-0 py-2 text-2sm mb-0 transition-all ease-in-out border-0 rounded-lg cursor-pointer text-white font-semibold bg-inherit"
                            data-tab-target="" role="tab" aria-selected="false" aria-controls="settings">
                            Settings
                        </a>
                    </li>
                </ul>
            </div>
        </div>



        <div class="grid grid-cols-2 md:grid-cols-6 gap-4 py-5">
            <div class="bg-white rounded-lg">
                <img class="h-full w-auto rounded-lg"
                    src="https://static.vecteezy.com/system/resources/thumbnails/057/981/925/small/the-black-polo-shirt-with-short-sleeves-and-classic-collar-ideal-for-casual-wear-png.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://png.pngtree.com/png-vector/20250219/ourmid/pngtree-a-professional-and-stylish-white-polo-shirt-mockup-ideal-for-showcasing-png-image_15526487.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://static.vecteezy.com/system/resources/previews/041/290/453/non_2x/ai-generated-short-sleeves-black-polo-t-shirt-isolated-on-transparent-background-free-png.png?odnHeight=117&odnWidth=117&odnBg=FFFFFF" alt="">
            </div >
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://png.pngtree.com/png-vector/20240123/ourmid/pngtree-pink-polo-t-shirt-png-image_11465852.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-full w-auto rounded-lg"
                    src="https://static.vecteezy.com/system/resources/thumbnails/057/981/925/small/the-black-polo-shirt-with-short-sleeves-and-classic-collar-ideal-for-casual-wear-png.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://png.pngtree.com/png-vector/20250219/ourmid/pngtree-a-professional-and-stylish-white-polo-shirt-mockup-ideal-for-showcasing-png-image_15526487.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://static.vecteezy.com/system/resources/previews/041/290/453/non_2x/ai-generated-short-sleeves-black-polo-t-shirt-isolated-on-transparent-background-free-png.png?odnHeight=117&odnWidth=117&odnBg=FFFFFF" alt="">
            </div >
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://png.pngtree.com/png-vector/20240123/ourmid/pngtree-pink-polo-t-shirt-png-image_11465852.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-full w-auto rounded-lg"
                    src="https://static.vecteezy.com/system/resources/thumbnails/057/981/925/small/the-black-polo-shirt-with-short-sleeves-and-classic-collar-ideal-for-casual-wear-png.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://png.pngtree.com/png-vector/20250219/ourmid/pngtree-a-professional-and-stylish-white-polo-shirt-mockup-ideal-for-showcasing-png-image_15526487.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://static.vecteezy.com/system/resources/previews/041/290/453/non_2x/ai-generated-short-sleeves-black-polo-t-shirt-isolated-on-transparent-background-free-png.png?odnHeight=117&odnWidth=117&odnBg=FFFFFF" alt="">
            </div >
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://png.pngtree.com/png-vector/20240123/ourmid/pngtree-pink-polo-t-shirt-png-image_11465852.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-full w-auto rounded-lg"
                    src="https://static.vecteezy.com/system/resources/thumbnails/057/981/925/small/the-black-polo-shirt-with-short-sleeves-and-classic-collar-ideal-for-casual-wear-png.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://png.pngtree.com/png-vector/20250219/ourmid/pngtree-a-professional-and-stylish-white-polo-shirt-mockup-ideal-for-showcasing-png-image_15526487.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://static.vecteezy.com/system/resources/previews/041/290/453/non_2x/ai-generated-short-sleeves-black-polo-t-shirt-isolated-on-transparent-background-free-png.png?odnHeight=117&odnWidth=117&odnBg=FFFFFF" alt="">
            </div >
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://png.pngtree.com/png-vector/20240123/ourmid/pngtree-pink-polo-t-shirt-png-image_11465852.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-full w-auto rounded-lg"
                    src="https://static.vecteezy.com/system/resources/thumbnails/057/981/925/small/the-black-polo-shirt-with-short-sleeves-and-classic-collar-ideal-for-casual-wear-png.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://png.pngtree.com/png-vector/20250219/ourmid/pngtree-a-professional-and-stylish-white-polo-shirt-mockup-ideal-for-showcasing-png-image_15526487.png" alt="">
            </div>
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://static.vecteezy.com/system/resources/previews/041/290/453/non_2x/ai-generated-short-sleeves-black-polo-t-shirt-isolated-on-transparent-background-free-png.png?odnHeight=117&odnWidth=117&odnBg=FFFFFF" alt="">
            </div >
            <div class="bg-white rounded-lg">
                <img class="h-auto max-w-full rounded-lg"
                    src="https://png.pngtree.com/png-vector/20240123/ourmid/pngtree-pink-polo-t-shirt-png-image_11465852.png" alt="">
            </div>
            
        </div>

    </div>
</div>